@import-normalize;
@import-sanitize;
@import 'job.css';
@import 'search.css';

* {
    box-sizing: border-box;
    color: #333;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

[hidden]{
    height: 0;
    overflow: hidden;
    opacity: 0;
    max-height: 0px;
    /* transition: opacity .5s linear; */
}

body::after{
    content: '';
    display: block;
    position: fixed;
    top:0;
    left: 0;
    --start-percent: 30%;
    background: linear-gradient(48deg,
    rgb(241, 225, 190) 0 var(--start-percent),
    brown var(--start-percent) calc(var(--start-percent) + 80px),
    rgb(165, 101, 42) calc(var(--start-percent) + 80px) calc(var(--start-percent) + 160px),
    rgba(236, 121, 13, 0.849) calc(var(--start-percent) + 160px) calc(var(--start-percent) + 240px),
    #fc3 calc(var(--start-percent) + 240px) calc(var(--start-percent) + 320px),
    rgb(241, 225, 190) calc(var(--start-percent) + 320px) 100%);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    pointer-events: none;
    z-index: -1;
}

#root {
    display: grid;
    grid-template-rows: auto 1fr auto;
    overflow: auto;
    overflow: auto;
    width: 100%;
    height: 100%;
    z-index: 200;
}

#root > header {
    z-index: 100;
    position: fixed;
    width: 100%;
    background: linear-gradient(180deg, rgba(241, 225, 190, .99)0% 35%, rgba(255,255,255,0.0) 90% 95%);
}

#root > header h1 {
    font-size: 3rem;
    margin:0;
    -webkit-text-stroke: 2px #fc3;
    color: rgb(165, 101, 42);

    text-shadow:
        3px 3px 0 rgba(236, 121, 13, 0.849),
      -3px -3px 0 rgba(236, 121, 13, 0.849),
       3px -3px 0 rgba(236, 121, 13, 0.849),
       -3px 3px 0 rgba(236, 121, 13, 0.849),
        3px 3px 0 rgba(236, 121, 13, 0.849);

}

#root > header, #root > footer {
    display: flex;
    flex-wrap: wrap;
    min-height: 40px;
    align-items: center;
    justify-content: center;
}

#root > header, #root > footer, main {
    padding: 0 2.5%;
}

#root > footer{
    color: white;
}

main {
    margin-top: 145px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (min-width: 1024px) {
    #root > header, #root > footer, main {
        padding: 0 10%;
    }
}
