.job {
    background-color: rgba(247, 235, 209, 0.95);
    margin-bottom: 1.38rem;
    padding: 15px;
    border-radius: 5px 2em ;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    max-height: 1500px;
    opacity: 1;
    transition: opacity .6s linear, max-height .8s linear;
    box-shadow:   5px 5px 0 5px rgb(206, 179, 120);
}

.job[hidden]{
    margin: 0;
}

.job .logo,
.job .cover {
    max-height: 300px;
    max-width: 100%;
    width: auto;
    height: auto;
}

.job .logo{
    max-height: 100px;
    grid-column: 1/2;
}

.job .cover {
    grid-column: 3/4;
    align-self: flex-start;
    margin: 0 auto auto 0;
    filter: sepia(1);
    border:  4px double rgba(236, 121, 13, 0.849);
    transition: filter .4s linear;
}

.job .cover:hover{
    filter: sepia(0);
}

.job small{
    font-size: .5em;
}

.job [state=min], .job [state=max]{
    max-height: 10em;
    position: relative;
    overflow: hidden;
    margin-bottom: .83rem;
    padding-bottom: 1.3em;
    transition:  max-height .6s linear;
    text-overflow: ellipsis;
}

.job [state=max]{
    height: auto;
    max-height: 1000px;
}

.maxDescr{
    position: absolute;
    bottom: .5em;
    right: .5em;
    opacity: .8;
    transition: opacity .4s linear;
}

.maxDescr:hover {
    opacity: 1;
}

.btn, button {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-transform: none;
    text-decoration: none;
    background-color:cornflowerblue;
    border-radius: 3px;
    border: 0;
    padding: 10px;
    color: white;
    font-weight: 700;
    width: fit-content;
    cursor: pointer;
    box-shadow:   1px 1px 0 1px rgb(79, 123, 206);
    transition: box-shadow .25s cubic-bezier(.16,.89,1,1.18), transform .25s cubic-bezier(.16,.89,1,1.18);
}

.btn:hover, button:hover {
    box-shadow:  3px 3px 0 3px rgb(89, 136, 224);
    transform: translate(-4px, -4px)
}

.btn:active, button:active {
    box-shadow:   1px 1px 0 1px rgb(86, 118, 177);
    transition: box-shadow .1s linear, transform .1s linear;
    transform: translate(0px, 0px)
}

.job header {
    width: 100%;
    display: grid;
    gap: 10px ;
    grid-template-columns: 100px 1fr 2fr;
}

.job .title{
    display: flex;
    flex-wrap: wrap;
    grid-column: 2/3;
    margin: 0;
    width: 100%;
}

.job h3,
.job h2{
    font-weight: 600;
    font-size: 20px;
    margin: 0;
    line-height: 1em;
}

.job h3 {
    width: 100%;
    font-size: 16px;
}

.job small {
    font-size: 12px;
}

.job footer{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.search {
    margin-bottom: 1.38rem;
    width: 100%;
}
/* Document
 * ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 */
:where(html) {
  line-height: 1.15; /* 1 */
}
/* Sections
 * ========================================================================== */
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Edge, Firefox, and Safari.
 */
:where(h1) {
  font-size: 2em;
  margin-block-end: 0.67em;
  margin-block-start: 0.67em;
}
/* Grouping content
 * ========================================================================== */
/**
 * Remove the margin on nested lists in Chrome, Edge, and Safari.
 */
:where(dl, ol, ul) :where(dl, ol, ul) {
  margin-block-end: 0;
  margin-block-start: 0;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
:where(pre) {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
/* Text-level semantics
 * ========================================================================== */
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
:where(b, strong) {
  font-weight: bolder;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
:where(code, kbd, samp) {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
/**
 * Add the correct font size in all browsers.
 */
:where(small) {
  font-size: 80%;
}
/* Tabular data
 * ========================================================================== */
/**
 * 1. Correct table border color in Chrome, Edge, and Safari.
 * 2. Remove text indentation from table contents in Chrome, Edge, and Safari.
 */
:where(table) {
  border-color: currentColor; /* 1 */
  text-indent: 0; /* 2 */
}
/* Forms
 * ========================================================================== */
/**
 * Correct the inability to style buttons in iOS and Safari.
 */
:where(button, input:is([type="button" i], [type="reset" i], [type="submit" i])) {
  -webkit-appearance: button;
}
/**
 * Add the correct vertical alignment in Chrome, Edge, and Firefox.
 */
:where(progress) {
  vertical-align: baseline;
}
/**
 * 1. Correct the odd appearance in Chrome, Edge, and Safari.
 * 2. Correct the outline style in Safari.
 */
:where(input[type="search" i]) {
  -webkit-appearance: textfield; /* 1 */
}
/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
/**
 * Remove the inner padding in Chrome, Edge, and Safari on macOS.
 */
::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style upload buttons in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
}
/* Interactive
 * ========================================================================== */
/*
 * Add the correct styles in Safari.
 */
:where(dialog) {
  background-color: white;
  border: solid;
  color: black;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: fit-content;
}
:where(dialog:not([open])) {
  display: none;
}
/*
 * Add the correct display in all browsers.
 */
:where(summary) {
  display: list-item;
}
/* Document
 * ========================================================================== */
/**
 * 1. Add border box sizing in all browsers (opinionated).
 * 2. Backgrounds do not repeat by default (opinionated).
 */
*,
::before,
::after {
  box-sizing: border-box; /* 1 */
}
/**
 * 1. Add text decoration inheritance in all browsers (opinionated).
 * 2. Add vertical alignment inheritance in all browsers (opinionated).
 */
::before,
::after {
  text-decoration: inherit; /* 1 */
  vertical-align: inherit; /* 2 */
}
/**
 * 1. Use the default cursor in all browsers (opinionated).
 * 2. Change the line height in all browsers (opinionated).
 * 3. Breaks words to prevent overflow in all browsers (opinionated).
 * 4. Use a 4-space tab width in all browsers (opinionated).
 * 5. Remove the grey highlight on links in iOS (opinionated).
 * 6. Prevent adjustments of font size after orientation changes in iOS.
 */
:where(:root) {
  cursor: default; /* 1 */
  line-height: 1.5; /* 2 */
  overflow-wrap: break-word; /* 3 */ /* 4 */
  tab-size: 4; /* 4 */
  -webkit-tap-highlight-color: transparent; /* 5 */
  -webkit-text-size-adjust: 100%; /* 6 */
}
/* Sections
 * ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
:where(body) {
  margin: 0;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Edge, Firefox, and Safari.
 */
:where(h1) {
  font-size: 2em;
  margin: 0.67em 0;
}
/* Grouping content
 * ========================================================================== */
/**
 * Remove the margin on nested lists in Chrome, Edge, and Safari.
 */
:where(dl, ol, ul) :where(dl, ol, ul) {
  margin: 0;
}
/**
 * Remove the list style on navigation lists in all browsers (opinionated).
 */
:where(nav) :where(ol, ul) {
  list-style-type: none;
  padding: 0;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 * 3. Prevent overflow of the container in all browsers (opinionated).
 */
:where(pre) {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
  overflow: auto; /* 3 */
}
/* Text-level semantics
 * ========================================================================== */
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
:where(b, strong) {
  font-weight: bolder;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
:where(code, kbd, samp) {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
/**
 * Add the correct font size in all browsers.
 */
:where(small) {
  font-size: 80%;
}
/* Embedded content
 * ========================================================================== */
/*
 * Change the alignment on media elements in all browsers (opinionated).
 */
:where(audio, canvas, iframe, img, svg, video) {
  vertical-align: middle;
}
/**
 * Remove the border on iframes in all browsers (opinionated).
 */
:where(iframe) {
  border-style: none;
}
/**
 * Change the fill color to match the text color in all browsers (opinionated).
 */
:where(svg:not([fill])) {
  fill: currentColor;
}
/* Tabular data
 * ========================================================================== */
/**
 * 1. Collapse border spacing in all browsers (opinionated).
 * 2. Correct table border color inheritance in all Chrome, Edge, and Safari.
 * 3. Remove text indentation from table contents in Chrome, Edge, and Safari.
 */
:where(table) {
  border-collapse: collapse; /* 1 */
  border-color: inherit; /* 2 */
  text-indent: 0; /* 3 */
}
/* Forms
 * ========================================================================== */
/**
 * Correct the inability to style buttons in iOS and Safari.
 */
:where(button, [type="button" i], [type="reset" i], [type="submit" i]) {
  -webkit-appearance: button;
}
/**
 * Change the inconsistent appearance in all browsers (opinionated).
 */
:where(fieldset) {
  border: 1px solid #a0a0a0;
}
/**
 * Add the correct vertical alignment in Chrome, Edge, and Firefox.
 */
:where(progress) {
  vertical-align: baseline;
}
/**
 * 1. Remove the margin in Firefox and Safari.
 * 3. Change the resize direction in all browsers (opinionated).
 */
:where(textarea) {
  resize: vertical; /* 3 */
}
/**
 * 1. Correct the odd appearance in Chrome, Edge, and Safari.
 * 2. Correct the outline style in Safari.
 */
:where([type="search" i]) {
  -webkit-appearance: textfield; /* 1 */
}
/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
/**
 * Remove the inner padding in Chrome, Edge, and Safari on macOS.
 */
::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style upload buttons in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
}
/* Interactive
 * ========================================================================== */
/*
 * Add the correct styles in Safari.
 */
:where(dialog) {
  background-color: white;
  border: solid;
  color: black;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: fit-content;
}
:where(dialog:not([open])) {
  display: none;
}
/*
 * Add the correct display in Safari.
 */
:where(details > summary:first-of-type) {
  display: list-item;
}
/* Accessibility
 * ========================================================================== */
/**
 * Change the cursor on busy elements in all browsers (opinionated).
 */
:where([aria-busy="true" i]) {
  cursor: progress;
}
/*
 * Change the cursor on control elements in all browsers (opinionated).
 */
:where([aria-controls]) {
  cursor: pointer;
}
/*
 * Change the cursor on disabled, not-editable, or otherwise
 * inoperable elements in all browsers (opinionated).
 */
:where([aria-disabled="true" i], [disabled]) {
  cursor: not-allowed;
}
/*
 * Change the display on visually hidden accessible elements
 * in all browsers (opinionated).
 */
:where([aria-hidden="false" i][hidden]) {
  display: initial;
}
:where([aria-hidden="false" i][hidden]:not(:focus)) {
  clip: rect(0, 0, 0, 0);
  position: absolute;
}
* {
    box-sizing: border-box;
    color: #333;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
[hidden]{
    height: 0;
    overflow: hidden;
    opacity: 0;
    max-height: 0px;
    /* transition: opacity .5s linear; */
}
body::after{
    content: '';
    display: block;
    position: fixed;
    top:0;
    left: 0;
    --start-percent: 30%;
    background: linear-gradient(48deg,
    rgb(241, 225, 190) 0 var(--start-percent),
    brown var(--start-percent) calc(var(--start-percent) + 80px),
    rgb(165, 101, 42) calc(var(--start-percent) + 80px) calc(var(--start-percent) + 160px),
    rgba(236, 121, 13, 0.849) calc(var(--start-percent) + 160px) calc(var(--start-percent) + 240px),
    #fc3 calc(var(--start-percent) + 240px) calc(var(--start-percent) + 320px),
    rgb(241, 225, 190) calc(var(--start-percent) + 320px) 100%);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    pointer-events: none;
    z-index: -1;
}
#root {
    display: grid;
    grid-template-rows: auto 1fr auto;
    overflow: auto;
    overflow: auto;
    width: 100%;
    height: 100%;
    z-index: 200;
}
#root > header {
    z-index: 100;
    position: fixed;
    width: 100%;
    background: linear-gradient(180deg, rgba(241, 225, 190, .99)0% 35%, rgba(255,255,255,0.0) 90% 95%);
}
#root > header h1 {
    font-size: 3rem;
    margin:0;
    -webkit-text-stroke: 2px #fc3;
    color: rgb(165, 101, 42);

    text-shadow:
        3px 3px 0 rgba(236, 121, 13, 0.849),
      -3px -3px 0 rgba(236, 121, 13, 0.849),
       3px -3px 0 rgba(236, 121, 13, 0.849),
       -3px 3px 0 rgba(236, 121, 13, 0.849),
        3px 3px 0 rgba(236, 121, 13, 0.849);

}
#root > header, #root > footer {
    display: flex;
    flex-wrap: wrap;
    min-height: 40px;
    align-items: center;
    justify-content: center;
}
#root > header, #root > footer, main {
    padding: 0 2.5%;
}
#root > footer{
    color: white;
}
main {
    margin-top: 145px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media (min-width: 1024px) {
    #root > header, #root > footer, main {
        padding: 0 10%;
    }
}

/*# sourceMappingURL=index.8c432c8d.css.map */
